* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #FF99CC;
    backdrop-filter: blur(10px);
    /* position: fixed; */
    width: 100%;
    color: black;
    z-index: 1000;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    
    list-style: none;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: white;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 10vh;
        left: 0;
        background-color: #333;
    }

    .nav-links.nav-active {
        display: flex;
    }

    .burger {
        display: block;
    }

    .burger.toggle div {
        transform-origin: 1px;
    }

    .burger.toggle .line1 {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.login-button, .register-button {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover, .register-button:hover {
    background-color: white;
    color: #333;
}

/* .user-info {
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.user-button{
    background-color: transparent;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    cursor: pointer;
}

.user-button:hover {
    background-color: white;
} */

#products-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 20px;
    padding: 20px;
    width: 100%;
    justify-content: center;

    .product {
        background: rgba(255, 255, 255, 0.1); /* Hiệu ứng trong suốt */
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;
    }

    .product img {
        height: 100%;
        max-height: 150px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .product:hover {
        transform: scale(1.05);
    }

    .product button {
        background: #FFC0CB;
        color: black;
        border: none;
        padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: color 0.3s ease-in-out;
    }
    
    .product button:hover {
        background: #FF69B4;
        
    }
}